<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse"></div>
    </div>
</nav>
<br/>

<div id="page-wrapper">
	<h1 class="page-header">Trap</h1>
	<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Steps to be followed to Trap a Request.
            </div>
            <div class="panel-body">
                <p class="lead"></p>
                <p>1) Click on any of the Secret URLs to trap a request.</p>
                <p>2) Clicking on any of the link, your request will be trapped.</p>
                <p>3) Click on the REQUESTS to see the requests made to this particular Trap ID.</p>
                <p>4) Clicking on any of the request, request details will be displayed.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Secret URLs</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Select one of the following URLs, your request will be trapped .
                </div>                                       
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
            	<center>
            		<table class="table table-striped table-bordered table-hover" id="dataTables-example" style="width: 40%;">
	                    <tbody>
	                    	<%for x in (0..20).step(5)%>
	                        	<tr class="even gradeX">
	                        		<td> <a href="/<%=DEFAULT_URL%>/<%=x%>" >Click here to Trap the request (<%=x%> to <%=x+4%>)</a> </td> 
	                        	</tr>
	                        <%end%>
	               		</tbody>
                	</table>
            	</center>
                
            </div>
        </div>
    </div>
</div>