<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse"></div>
    </div>
</nav>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">KSolves Ruby on Rails Apps</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Templates by KSolves
                </div>                       
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Name of the App</th>
                                    <th>App Link</th>
                                    <th>GitHub Link</th>
                                    <th>Bit Bucket Link</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td>Trap</td>
                                    <td><a target="_blank" href="/<%=DEFAULT_URL%>">Trap</a></td>
                                    <td><a target="_blank" href="https://github.com/kartiksolves/KSolve_RoR">Github Link for Trap</a></td>
                                    <td class="center"><a target="_blank" href="https://kartikksolves@bitbucket.org/kartikksolves/ksolves-ror.git">Bit Bucket link for Trap</a></td>
                                    <td>Trap is a tool to capture and display HTTP requests. This tool is useful during the development of apps that integrate with external services like webhooks etc. This Request Trap app provides these external services with an endpoint to which they can send requests and notifications. </td>
                                </tr>
                                <tr class="even gradeC">
                                    <td>PDF To XLS</td>
                                    <td><a target="_blank" href="/pdf_to_xls/index">PDF To XLS</a></td>
                                    <td><a target="_blank" href="https://github.com/kartiksolves/KSolve_RoR">Github Link for PDF To XLS</a></td>
                                    <td class="center"><a target="_blank" href="https://kartikksolves@bitbucket.org/kartikksolves/ksolves-ror.git">Bit Bucket link for PDF TO XLS</a></td>
                                    <td>PDF To XLS is a tool to convert a PDF file into XLS.This tool uses two gems "pdf-reader" and "to_xls" for the conversion process. This tool can also be helpful for the generation of XLS of the selected element of the uploaded PDF.</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>KSolves Tweet</td>
                                    <td><a target="_blank" href="http://ksolves-tweet.herokuapp.com/" > KSolves Tweet </a></td>
                                    <td><a target="_blank" href="https://github.com/kartiksolves/KSolves-Tweet">Github Link for KSolves Tweet</a></td>
                                    <td class="center"><a target="_blank" href="https://kartikksolves@bitbucket.org/kartikksolves/ksolves-tweet.git">Bit Bucket link for KSolves Tweet</a></td>
                                    <td>Tweet is a tweet sharing ROR App. The input is a CSV file with list of cities. When it's 8am in any timezone, a random city is picked from that CSV file. A tweet string starting with "Good morning, CITYNAME" is created. Google map API is called so as to get the Google maps URL for that city. The URL is then passed through google URL shortener API. Google images API is used to get an image for that city with search query "City Country beautiful". Hence the final tweet string will be "Good morning, CITYNAME the Google Map URL and the PHOTO_URL"(where the photo is attached to the tweet as media). The tweet is shared, wait for the next timezone to hit 8am.
                                    </td>
                                </tr>
                                <tr class="even gradeX">
                                    <td>KSolves Stripe</td>
                                    <td><a target="_blank" href="http://stripe-ksolves.herokuapp.com/" > KSolves Stripe</a></td>
                                    <td><a target="_blank" href="https://github.com/kartiksolves/KSolves-Stripe.git">Github Link for KSolves Stripe</a></td>
                                    <td class="center"><a target="_blank" href="https://kartikksolves@bitbucket.org/kartikksolves/ksolves-stripe.git">Bit Bucket link for KSolves Stripe</a></td>
                                    <td>KSolves Stripe is an Online Payment Gateway demo app. The Payment is done through a secure payment gateway STRIPE.
                                        The test Login Information is Name:ksolves and Password:ksolves. Once the user enters the LogIn Information, the app takes him to a form through which the user enters the credit card details. The test credit card details are displayed on the Demo App page itself. Once the information is submitted, the transaction information like date, amount, card-type, last four numbers of the credit card and transaction Id is displayed on the another page.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
          
<script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
</script>

